.title {
    margin: 0 auto;
    text-align: center;
}

.applet-flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.gif-container { 
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: center;
    margin-top: 10px;
}

.hover-gif {
    width: 200px;
    height: auto;
}

.applet-btn:hover {
    background-color: #0056b3;
    color: white;
}
.card-body {
    min-height: 100px; 
}
.card {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 3; 
}
.card-img-top {
    width: 236px; 
    height: 180px; 
    object-fit: cover; 
}